<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/new_user_welcome" method="POST">
    <label><input type="text" name="email">Enter your email</input></label>
    <br>
    <label><input type="text" name="password">Enter your desired password</input></label>
    <br>
    <label><input type="text" name="age">Enter your age (for demographic purposes)</input></label>
    <br>
    <label><input type="text" name="zipcode">Enter your zipcode</input></label>
    <br>
    <label><input type="submit" value="Submit"></label>
    <br>
    </form>
</body>
</html>